.recipe {
    width: 100%;
    position: relative;
    height: 250px;
    border-radius: 1rem !important;
    .recipe-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 1));
        border-radius: 0 0 1rem 1rem !important;

        .time {
            color: lightgrey;
        }
    }

    &.lunch {
        background: url(https://www.liveeatlearn.com/wp-content/uploads/2019/07/caesar-salad-photo-vert-500x500.jpg);
        background-position: center;
        background-size: cover;
    }
    &.dessert {
        background: url(https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/coffee_terrine.jpg);
        background-position: center;
        background-size: cover;
    }
    &.snack {
        background: url(https://www.seriouseats.com/recipes/images/2016/09/20160822-homemade-cheez-itz-vicky-wasik-15.jpg);
        background-position: center;
        background-size: cover;
    }
}