.recipe {
    width: 100%;
    position: relative;
    background: url(https://www.liveeatlearn.com/wp-content/uploads/2019/07/caesar-salad-photo-vert-500x500.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 1rem !important;

    .recipe-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 1));
        border-radius: 0 0 1rem 1rem !important;

        .time {
            color: lightgrey;
        }
    }
}