<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto my-5">
            <form #RecipeForm="ngForm" class="text-center border border-light p-5">
                <p class="h4 mb-4">Add Recipe</p>
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input
                                [(ngModel)]="recipeName"
                                mdbInput
                                type="text"
                                id="recipe-name"
                                class="form-control"
                                name="name"
                            >
                            <label for="recipe-name mx-5">Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            <select class="browser-default custom-select" [(ngModel)]="time" name="time">
                                <option selected value="0" disabled>Time</option>
                                <option *ngFor="let time of preparingTime" value="{{time}}">
                                    {{time}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="md-form my-0">
                    <textarea
                        [(ngModel)]="recipeDescription"
                        class="md-textarea form-control"
                        rows="2"
                        id="recipe-des"
                        type="text"
                        length="145"
                        mdbCharCounter
                        mdbInput
                        name="description"
                    >
                    </textarea>
                    <label for="recipe-des">Description</label>
                </div>
                <div class="md-form" mdbTooltip="Use ';' to separate ingredients" placement="bottom">
                    <textarea
                        [(ngModel)]="recipeIngredients"
                        class="md-textarea form-control"
                        rows="4"
                        id="recipe-ingredients"
                        type="text"
                        length="145"
                        mdbCharCounter
                        mdbInput
                        name="ingredients"
                    >
                    </textarea>
                    <label for="recipe-ingredients">Ingredients</label>
                </div>
                <div class="md-form" mdbTooltip="Use ';' to separate step" placement="bottom">
                    <textarea
                        [(ngModel)]="recipePreparing"
                        class="md-textarea md-textarea-auto form-control"
                        rows="2"
                        id="recipe-preparing"
                        type="text"
                        length="145"
                        mdbCharCounter
                        mdbInput
                        name="preparing"
                    >
                    </textarea>
                    <label for="recipe-preparing">Preparing</label>
                </div>
                <div class="radio-btn mb-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="snack" name="type" mdbInput [(ngModel)]="foodType" value="snack">
                        <label class="custom-control-label" for="snack">snack</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="dessert" name="type" mdbInput [(ngModel)]="foodType" value="dessert">
                        <label class="custom-control-label" for="dessert">dessert</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="lunch" name="type" mdbInput
                        [(ngModel)]="foodType" value="lunch">
                        <label class="custom-control-label" for="lunch">lunch</label>
                    </div>
                </div>
                <button mdbBtn color="info" type="submit" (click)="addRecipe(RecipeForm)">Add recipe</button>
                <button mdbBtn color="danger" type="button" routerLink="/">Cancel</button>
            </form>
        </div>
    </div>
</div>
