<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark orange" [containerInside]="true">
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink="">Home</a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/add"><button>Add recipe</button></a>
            </li>
        </ul>
    </links>
</mdb-navbar>